/*
	Joe O'Regan
	30/01/2019
*/

body {
	text-align: center;
}

.main {
	padding: 2%;
	border: 2px solid grey;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.userlist {
	text-align: left;
}

.usernamediv {
	margin-bottom: 10px;
}

.chatdiv {
	padding: 2%;
	border: 2px solid lightgrey;
	height: 400px;
	overflow: scroll;
	overflow-x: hidden;
}

.inputdiv {
	margin-top: 10px;
}

.chat {
	border-radius:12px;
	padding: 5px;
	display: inline-block;
}

.info-outer {
	//border: 3px solid grey;
	text-align: center;
}

.info {
	color: grey;
	//text-align: center;
}

.left-outer {
	//border: 3px solid red;
	text-align: left;
}

.left-inner {
	margin-right: 10%;
	background-color: lightgrey;
}

.right-outer {
	//border: 3px solid blue;
	text-align: right;
}

.right-inner {
	margin-left: 10%;
	background-color: lightblue;
}

.username {
	color: lightgrey;
}

/* menu */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

.sub-menu, .dropbtn, nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/* sub menu */

.dropbtn {
  background-color: #333;
  color: white;
  border: none;
}

.sub-menu {
  padding: 0;
  margin-top: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content, .sub-menu:hover  .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn, .sub-menu:hover .dropbtn{background-color: darkslategray;} */
.dropdown:hover .dropbtn, .sub-menu:hover .dropbtn{background-color: #111;}